@model IEnumerable<HRMS.Entities.LeaveRequest>

<h3>My Leaves</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Type</th>
            <th>Reason</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FromDate.ToString("dd/MM/yyyy")</td>
                <td>@item.ToDate.ToString("dd/MM/yyyy")</td>
                <td>@item.LeaveType</td>
                <td>@item.Reason</td>
                <td>
                    <span class="badge
                        @(item.Status == "Approved" ? "bg-success" :
                                                    item.Status == "Rejected" ? "bg-danger" : "bg-warning")">
                        @item.Status
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>